.side-bar {
    background: #4D7DE3;
    min-height: 100vh;
    height: auto;
    padding-top: 10px;
}

.main-content .side-bar {
    align-content: center;
    padding-top: 30px;
}

.main-content .side-bar .nav-option {
    padding-bottom: 40px;
    align-items: center;
}

.top-bar {
    background: #F1F4F9;
}